# Archivos y carpetas de compilación
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.lib
bin/
obj/

# Archivos de persistencia
*.dat
*.csv

# Archivos temporales y de respaldo
*.swp
*.tmp
*.log
*.bak
*.old

# Archivos y carpetas del sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# Configuraciones locales
.vscode/

# Archivos de Code::Blocks
*.cbp
*.depend
*.layout
